<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>544447045254-l56gtitdufqdt5m2uo7io0qhit39f89q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544447045254-l56gtitdufqdt5m2uo7io0qhit39f89q</string>
	<key>API_KEY</key>
	<string>AIzaSyBCvJSup8JkM_FnfOu7o4uKrlqPB8mT3E0</string>
	<key>GCM_SENDER_ID</key>
	<string>544447045254</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.QuitMeat</string>
	<key>PROJECT_ID</key>
	<string>quitmeat-e0af3</string>
	<key>STORAGE_BUCKET</key>
	<string>quitmeat-e0af3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544447045254:ios:485e6df838c4a711</string>
	<key>DATABASE_URL</key>
	<string>https://quitmeat-e0af3.firebaseio.com</string>
</dict>
</plist>